@use "media-query" as mq;
@use "variables" as var;

//テーブル
.custom-table {
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid var(--color-main);
  font-weight: 700;
  margin-top: 10px;

  td {
    font-size: 14px;
    padding: 8px;
    vertical-align: middle;
    border: 1px dashed var(--color-main);

    & .is-price {
      font-family: var.$font-family-english;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-main);
    }

    &:first-child {
      background: var(--color-main);
      color: #fff;
      text-align: center;
      border-color: #fff;
    }

    &:last-child {
      background: #fff;
    }
  }
}
